<!DOCTYPE html>
<html>
  <head>
    <title>AltVr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  </head>

  <body>
    <div class="nav">
      <ul>
        <div class="nav-left">
          <li class="home"><%= link_to "Home", root_path %></li>
        </div>
        <div class="nav-right">
        <% if current_user %>
            <li class="user"><%= current_user.email %> </li><li>  <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> </li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %> / <%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="container">
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
