<!DOCTYPE html>
<html>
  <head>
    <title>AltVr</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pavanam" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
  </head>

  <body>
    <div class="nav">
      <ul>
        <div class="nav-left">
          <li class="home"><%= link_to "Home", root_path %></li>
          <li class="realms"><%= link_to "Realms", realms_path %></li>
        </div>
        <div class="nav-right">
        <% if current_user %>
            <li class="user">
              <span class="email_label"><%= current_user.email %></span>
              <% if is_admin? %>
                <span class="admin_label">(ADMIN)</span>
              <% end  %>
            </li>
            <li>  <%= link_to "Sign out", destroy_user_session_path, method: 'delete' %> </li>
        <% else %>
            <li><%= link_to "Sign in", new_user_session_path %> / <%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="container">
      <div id="flash_msgs">
        <%= flash[:alert] %>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
